@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700,900&display=swap);
@charset "UTF-8";
@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-email:before {
  content: "\e945";
  position: absolute;
  margin-left: -27px;
  margin-top: 2px;
}

._icon-location:before {
  content: "\e901";
  position: absolute;
  margin-left: -27px;
  margin-top: 2px;
}

._icon-phone:before {
  content: "\e958";
  position: absolute;
  margin-left: -27px;
  margin-top: 2px;
}

._icon-telegram:before {
  content: "\e900";
  position: absolute;
  margin-left: -27px;
  margin-top: 2px;
}

._icon-arrow-list-dark:before {
  content: "\ea3c";
  position: absolute;
  margin-left: -27px;
  margin-top: 9px;
  font-size: 10px;
  color: #484fa0;
}

._icon-arrow-list-dark:hover:before {
  color: #04b2e7;
}

._icon-arrow-list-light:before {
  content: "\ea3c";
  position: absolute;
  margin-left: -27px;
  margin-top: 11px;
  font-size: 10px;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #666666;
  line-height: 1;
  font-family: "Roboto";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Roboto";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  touch-action: none;
}
.wrapper {
  padding: 30px;
  max-width: 1200px;
  margin: 0 auto;
}
.wrapper > main {
  min-height: 100%;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 75rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/
@media (max-width: 992px) {
  .wrapper {
    padding: 15px;
  }
}
.column-left {
  width: 70%;
  padding-right: 15px;
}

.column-left__header {
  display: flex;
}

.header__photo {
  flex: 0 0 35%;
  position: relative;
}
.header__photo img {
  max-width: 250px;
  max-height: 250px;
  border: 9px solid #484fa0;
  border-image: linear-gradient(180deg, #04b2e7 0%, #484fa0 100%);
  border-image-slice: 1;
  position: absolute;
  width: 101%;
  height: 101%;
  top: 0;
  left: 0;
  object-fit: cover;
}
.header__about {
  flex: 0 0 65%;
}

.header__about {
  padding: 10px 0 0 25px;
}

.about__title {
  font-weight: 900;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0.005em;
  color: #277fc3;
}
.about__title span {
  font-weight: 300;
  color: #666666;
}
.about__subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.005em;
  text-transform: uppercase;
  margin: 12px 0 30px 0;
}
.about__contacts {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.05em;
}

.contacts__item {
  padding-left: 27px;
  position: relative;
}
.contacts__item:not(:last-child) {
  padding-bottom: 8px;
}

@media (max-width: 992px) {
  .column-left {
    padding-right: 0;
    padding-bottom: 60px;
  }
}
@media (max-width: 767px) {
  .column-left__header {
    flex-direction: column-reverse;
  }
  .header__about {
    flex: 0 1 100%;
    margin: 0 0 25px 0;
  }
  .header__photo {
    flex: 0 1 150px;
  }
  .header__photo img {
    max-width: 150px;
    max-height: 150px;
  }
}
.column-left__content {
  flex: 1 1 auto;
  height: 100%;
  padding-left: 28px;
}
.column-left__timeline {
  position: relative;
  flex: 0 0 auto;
  height: auto;
  width: 68px;
}
.column-left__timeline:before {
  position: absolute;
  top: 0;
  right: 0px;
  content: "";
  width: 3px;
  height: 100%;
  background: linear-gradient(180deg, #484fa0 0%, #277fc3 48.96%, #04b2e7 100%);
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
.column-left__main {
  display: flex;
  height: auto;
}

.experience__content,
.portfolio__content,
.education__content {
  margin-top: 54px;
}

.content-block__title {
  padding-left: 8px;
}
.content-block__block {
  padding-top: 42px;
}

.title-article {
  font-weight: 700;
  font-size: 23px;
  line-height: 35px;
  letter-spacing: 0.01em;
  color: #42489e;
  text-transform: uppercase;
}

.block {
  position: relative;
}
.block__year {
  font-weight: 300;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #999999;
  position: absolute;
  left: 0;
  top: 42px;
  margin: 0 0 0 -94px;
}
.block__title {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  letter-spacing: 0.03em;
  color: #323232;
  position: relative;
}
.block__title:before {
  position: absolute;
  content: "";
  left: 0;
  top: 2px;
  width: 20px;
  height: 20px;
  background: 20px/20px url("../img/step.svg");
  margin-left: -40px;
}
.block__subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  text-align: left;
  letter-spacing: 0.03em;
  color: #9b9b9b;
  padding-top: 16px;
}
.block__text {
  padding-top: 0.7em;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 170%;
  letter-spacing: 0.03em;
}
.spollers__body > .block__text {
  font-weight: 400;
  text-transform: none;
}
.block__images {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  margin: 1.5em 0;
}
.block__images img {
  width: 70%;
  height: auto;
  cursor: pointer;
}

.title-article {
  position: relative;
}

.title-article img {
  position: absolute;
  left: -48px;
  top: 0;
  width: 35px;
  height: 35px;
}

.column-right {
  width: 30%;
  background: linear-gradient(180deg, #484fa0 0%, #04b2e7 100%);
}

.content-list__item {
  padding-left: 27px;
  position: relative;
  overflow-wrap: anywhere;
}

.content-list__item a:hover {
  text-decoration: underline;
}

.portfolio .show {
  opacity: 1;
  transition: opacity 0.5s linear;
}
.portfolio .hide {
  opacity: 0;
  transition: opacity 0.5s linear;
}
.portfolio__body {
  margin-top: 2em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 7px;
}
.portfolio__screenshot {
  position: relative;
  padding: 0 0 85% 0;
}
.portfolio__screenshot img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  object-fit: cover;
  filter: grayscale(0.6);
  transition: all 0.5s linear;
}
.portfolio__screenshot img:hover {
  filter: none;
  transition: all 0.5s linear;
}

.project__about {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
}

.about-project__title {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #277fc3;
}

.about-project__url {
  display: flex;
  gap: 1em;
  margin: 0.7em 0;
  transition: all 0.5s linear;
}

.about-project__link {
  text-align: center;
  padding: 0.5em 1.5em;
  border-radius: 0.5em;
  font-size: 0.8rem;
}

.link-git {
  color: #fff;
  background-color: #9b9b9b;
}
.link-git:hover {
  background-color: #42489e;
  transition: all 0.5s linear;
}

.link-demo {
  color: #fff;
  background-color: #8ec6e6;
}
.link-demo:hover {
  background-color: #42489e;
  transition: all 0.5s linear;
}

.body-portfolio__tags > ul {
  margin-top: 40px;
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  justify-content: center;
}

.body-portfolio__tags ul li {
  white-space: nowrap;
  color: #fff;
  text-align: center;
  padding: 0.8em 1.8em;
  border-radius: 0.5em;
  font-size: 0.9rem;
  transition: all 0.5s linear;
  cursor: pointer;
}

.body-portfolio__tags ul li:hover {
  background-color: #42489e;
  transition: all 0.5s linear;
}

.tag-active {
  background-color: #42489e;
}

.tag-noactive {
  background-color: #8ec6e6;
}

@media (max-width: 992px) {
  .portfolio__screenshot_big {
    grid-column: span 1;
    grid-row: span 1;
  }
}
.column-right__about {
  margin-top: 30px;
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 170%;
  text-align: left;
  letter-spacing: 0.03em;
  color: #ffffff;
  position: relative;
}

.skills__title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 145.8333333333%;
  letter-spacing: 0.01em;
  margin: 1.5em 0 0 0;
}

.skills__body {
  margin-top: 30px;
  position: relative;
}

.skills__body::before {
  position: absolute;
  content: "";
  background: #8ec6e6;
  width: 1px;
  height: 100%;
}

.column-right {
  color: #ffffff;
  padding: 0 30px;
}
.column-right__skill:not(:last-child) {
  margin-bottom: 1em;
}
.skill__title {
  padding-left: 15px;
}
.skill__container {
  margin-top: 5px;
  background: #8ec6e6;
  width: calc(100% - 30px);
  height: 4px;
  position: relative;
  overflow: hidden;
}
.skill__bar {
  background: #d0ebff;
  height: 10px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
}
.skill__bar:after {
  background: #d0ebff;
  background-size: 40px 40px;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.qualities__title {
  margin: 1.5em 0 1em;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 145.8333333333%;
  letter-spacing: 0.01em;
}

.quality:not(:last-child) {
  margin-bottom: 1em;
}

.quality__title {
  margin-bottom: 10px;
}
.quality__bar {
  display: flex;
}
.quality__item:not(:last-child) {
  padding-right: 12px;
}
.quality__item {
  position: relative;
}
.quality__item::after {
  position: absolute;
  content: "";
  background: rgba(255, 255, 255, 0.5);
  width: 8px;
  height: 8px;
  top: 0;
  left: 0;
}
.quality__item_full::after {
  position: absolute;
  content: "";
  background: #ffffff;
  width: 8px;
  height: 8px;
  top: 0;
  left: 0;
}

.personal__title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 145.8333333333%;
  letter-spacing: 0.01em;
  margin: 1.5em 0 0.8em;
}

.personal__list {
  position: relative;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
}

.personal__item {
  padding-left: 27px;
  overflow-wrap: anywhere;
}

.personal__item a:hover {
  text-decoration: underline;
}

@media (max-width: 992px) {
  .column-right {
    display: flex;
    flex-wrap: wrap;
  }
  .column-right__about {
    flex: 0 1 100%;
  }
  .column-right__skills {
    flex: 0 1 50%;
  }
  .column-right__qualities {
    flex: 0 1 50%;
  }
  .column-right__personal {
    flex: 0 1 50%;
  }
  .column-left,
  .column-right {
    width: 100%;
  }
  .column-right {
    padding-bottom: 30px;
  }
  .wrapper > main {
    flex-wrap: wrap;
  }
}
@media (min-width: 600px) and (max-width: 992px) {
  .qualities__body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-end;
  }
  .quality {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-end;
  }
  .qualities__title {
    text-align: right;
  }
  .quality__bar {
    text-align: right;
    padding-right: 4px;
  }
}
@media (max-width: 600px) {
  .column-right__skills {
    flex: 0 1 100%;
  }
  .column-right__qualities {
    flex: 0 1 100%;
  }
  .column-right__personal {
    flex: 0 1 100%;
  }
}
/*! PhotoSwipe main CSS by Dmytro Semenov | photoswipe.com */
.pswp {
  --pswp-bg: #000;
  --pswp-placeholder-bg: #222;
  --pswp-root-z-index: 100000;
  --pswp-preloader-color: rgba(79, 79, 79, 0.4);
  --pswp-preloader-color-secondary: rgba(255, 255, 255, 0.9);
  /* defined via js:
  --pswp-transition-duration: 333ms; */
  --pswp-icon-color: #fff;
  --pswp-icon-color-secondary: #4f4f4f;
  --pswp-icon-stroke-color: #4f4f4f;
  --pswp-icon-stroke-width: 2px;
  --pswp-error-text-color: var(--pswp-icon-color);
}

/*
	Styles for basic PhotoSwipe (pswp) functionality (sliding area, open/close transitions)
*/
.pswp {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: var(--pswp-root-z-index);
  display: none;
  touch-action: none;
  outline: 0;
  opacity: 0.003;
  contain: layout style size;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* Prevents focus outline on the root element,
  (it may be focused initially) */
.pswp:focus {
  outline: 0;
}

.pswp * {
  box-sizing: border-box;
}

.pswp img {
  max-width: none;
}

.pswp--open {
  display: block;
}

.pswp,
.pswp__bg {
  transform: translateZ(0);
  will-change: opacity;
}

.pswp__bg {
  opacity: 0.005;
  background: var(--pswp-bg);
}

.pswp,
.pswp__scroll-wrap {
  overflow: hidden;
}

.pswp__scroll-wrap,
.pswp__bg,
.pswp__container,
.pswp__item,
.pswp__content,
.pswp__img,
.pswp__zoom-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.pswp__img,
.pswp__zoom-wrap {
  width: auto;
  height: auto;
}

.pswp--click-to-zoom.pswp--zoom-allowed .pswp__img {
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in;
}

.pswp--click-to-zoom.pswp--zoomed-in .pswp__img {
  cursor: move;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab;
}

.pswp--click-to-zoom.pswp--zoomed-in .pswp__img:active {
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: grabbing;
}

/* :active to override grabbing cursor */
.pswp--no-mouse-drag.pswp--zoomed-in .pswp__img,
.pswp--no-mouse-drag.pswp--zoomed-in .pswp__img:active,
.pswp__img {
  cursor: -webkit-zoom-out;
  cursor: -moz-zoom-out;
  cursor: zoom-out;
}

/* Prevent selection and tap highlights */
.pswp__container,
.pswp__img,
.pswp__button,
.pswp__counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.pswp__item {
  /* z-index for fade transition */
  z-index: 1;
  overflow: hidden;
}

.pswp__hidden {
  display: none !important;
}

/* Allow to click through pswp__content element, but not its children */
.pswp__content {
  pointer-events: none;
}

.pswp__content > * {
  pointer-events: auto;
}

/*

  PhotoSwipe UI

*/
/*
	Error message appears when image is not loaded
	(JS option errorMsg controls markup)
*/
.pswp__error-msg-container {
  display: grid;
}

.pswp__error-msg {
  margin: auto;
  font-size: 1em;
  line-height: 1;
  color: var(--pswp-error-text-color);
}

/*
class pswp__hide-on-close is applied to elements that
should hide (for example fade out) when PhotoSwipe is closed
and show (for example fade in) when PhotoSwipe is opened
 */
.pswp .pswp__hide-on-close {
  opacity: 0.005;
  will-change: opacity;
  transition: opacity var(--pswp-transition-duration) cubic-bezier(0.4, 0, 0.22, 1);
  z-index: 10; /* always overlap slide content */
  pointer-events: none; /* hidden elements should not be clickable */
}

/* class pswp--ui-visible is added when opening or closing transition starts */
.pswp--ui-visible .pswp__hide-on-close {
  opacity: 1;
  pointer-events: auto;
}

/* <button> styles, including css reset */
.pswp__button {
  position: relative;
  display: block;
  width: 50px;
  height: 60px;
  padding: 0;
  margin: 0;
  overflow: hidden;
  cursor: pointer;
  background: none;
  border: 0;
  box-shadow: none;
  opacity: 0.85;
  -webkit-appearance: none;
  -webkit-touch-callout: none;
}

.pswp__button:hover,
.pswp__button:active,
.pswp__button:focus {
  transition: none;
  padding: 0;
  background: none;
  border: 0;
  box-shadow: none;
  opacity: 1;
}

.pswp__button:disabled {
  opacity: 0.3;
  cursor: auto;
}

.pswp__icn {
  fill: var(--pswp-icon-color);
  color: var(--pswp-icon-color-secondary);
}

.pswp__icn {
  position: absolute;
  top: 14px;
  left: 9px;
  width: 32px;
  height: 32px;
  overflow: hidden;
  pointer-events: none;
}

.pswp__icn-shadow {
  stroke: var(--pswp-icon-stroke-color);
  stroke-width: var(--pswp-icon-stroke-width);
  fill: none;
}

.pswp__icn:focus {
  outline: 0;
}

/*
	div element that matches size of large image,
	large image loads on top of it,
	used when msrc is not provided
*/
div.pswp__img--placeholder,
.pswp__img--with-bg {
  background: var(--pswp-placeholder-bg);
}

.pswp__top-bar {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  z-index: 10;
  /* allow events to pass through top bar itself */
  pointer-events: none !important;
}

.pswp__top-bar > * {
  pointer-events: auto;
  /* this makes transition significantly more smooth,
     even though inner elements are not animated */
  will-change: opacity;
}

/*

  Close button

*/
.pswp__button--close {
  margin-right: 6px;
}

/*

  Arrow buttons

*/
.pswp__button--arrow {
  position: absolute;
  top: 0;
  width: 75px;
  height: 100px;
  top: 50%;
  margin-top: -50px;
}

.pswp__button--arrow:disabled {
  display: none;
  cursor: default;
}

.pswp__button--arrow .pswp__icn {
  top: 50%;
  margin-top: -30px;
  width: 60px;
  height: 60px;
  background: none;
  border-radius: 0;
}

.pswp--one-slide .pswp__button--arrow {
  display: none;
}

/* hide arrows on touch screens */
.pswp--touch .pswp__button--arrow {
  visibility: hidden;
}

/* show arrows only after mouse was used */
.pswp--has_mouse .pswp__button--arrow {
  visibility: visible;
}

.pswp__button--arrow--prev {
  right: auto;
  left: 0px;
}

.pswp__button--arrow--next {
  right: 0px;
}

.pswp__button--arrow--next .pswp__icn {
  left: auto;
  right: 14px;
  /* flip horizontally */
  transform: scale(-1, 1);
}

/*

  Zoom button

*/
.pswp__button--zoom {
  display: none;
}

.pswp--zoom-allowed .pswp__button--zoom {
  display: block;
}

/* "+" => "-" */
.pswp--zoomed-in .pswp__zoom-icn-bar-v {
  display: none;
}

/*

  Loading indicator

*/
.pswp__preloader {
  position: relative;
  overflow: hidden;
  width: 50px;
  height: 60px;
  margin-right: auto;
}

.pswp__preloader .pswp__icn {
  opacity: 0;
  transition: opacity 0.2s linear;
  animation: pswp-clockwise 600ms linear infinite;
}

.pswp__preloader--active .pswp__icn {
  opacity: 0.85;
}

@keyframes pswp-clockwise {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*

  "1 of 10" counter

*/
.pswp__counter {
  height: 30px;
  margin-top: 15px;
  margin-inline-start: 20px;
  font-size: 14px;
  line-height: 30px;
  color: var(--pswp-icon-color);
  text-shadow: 1px 1px 3px var(--pswp-icon-color-secondary);
  opacity: 0.85;
}

.pswp--one-slide .pswp__counter {
  display: none;
}
