%ic {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[class*="_icon-"] {
  &:before {
    @extend %ic;
    display: block;
  }
}
._icon-email:before {
  content: "\e900";
  position: absolute;
  margin-left: -27px;
  margin-top: 2px;
}
._icon-location:before {
  content: "\e901";
  position: absolute;
  margin-left: -27px;
  margin-top: 2px;
}
._icon-phone:before {
  content: "\e902";
  position: absolute;
  margin-left: -27px;
  margin-top: 2px;
}
._icon-quote:before {
  content: "\e903";
  position: absolute;
  margin-left: -27px;
  margin-top: 2px;
}
