//=========Общие стили===========================================================================================

//=========Общие стили - Адаптация===========================================================================================
@media (max-width: 992px) {
  .wrapper {
    padding: 15px;
  }
}
//=========Шапка===========================================================================================

.column-left {
  width: 70%;
  padding-right: 15px;
  //padding-bottom: 100px;
}
.column-left__header {
  display: flex;
}
.header {
  &__photo {
    flex: 0 0 35%;
    position: relative;
  }
  &__photo img {
    max-width: 250px;
    max-height: 250px;
    border: 9px solid #484fa0;

    border-image: linear-gradient(180deg, #04b2e7 0%, #484fa0 100%);
    border-image-slice: 1;

    position: absolute;

    //!Настроить округление до наибольшего целого числа пикселей

    width: 101%;
    height: 101%;

    top: 0;
    left: 0;
    object-fit: cover;
  }
  &__about {
    flex: 0 0 65%;
  }
}
.header__about {
  padding: 10px 0 0 25px;
}

.about {
  &__title {
    font-weight: 900;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0.005em;
    color: #277fc3;
  }
  &__title span {
    font-weight: 300;
    color: $mainColor;
  }
  &__subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.005em;
    text-transform: uppercase;
    margin: 12px 0 30px 0;
  }

  &__contacts {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.05em;
  }
}
.contacts {
  &__list {
  }

  &__item {
    padding-left: 27px;
    position: relative;
  }
  &__item:not(:last-child) {
    padding-bottom: 8px;
  }
}

//========Адаптация Шапки============================================================================================

@media (max-width: 992px) {
  .column-left {
    padding-right: 0;
    padding-bottom: 60px;
  }
}
@media (max-width: 767px) {
  .column-left__header {
    flex-direction: column-reverse;
  }
  .header {
    &__about {
      flex: 0 1 100%;
      margin: 0 0 25px 0;
    }
    &__photo {
      flex: 0 1 150px;
    }
    &__photo img {
      max-width: 150px;
      max-height: 150px;
    }
  }
}

//================Контент левой колонка====================================================================================
.column-left {
  &__content {
    flex: 1 1 auto;
    height: 100%;

    padding-left: 28px;
  }

  &__timeline {
    position: relative;
    flex: 0 0 auto;
    height: auto;
    width: 68px;
  }
  &__timeline:before {
    position: absolute;
    top: 0;
    right: 0px;
    content: "";
    width: 3px;
    height: 100%;
    background: linear-gradient(
      180deg,
      #484fa0 0%,
      #277fc3 48.96%,
      #04b2e7 100%
    );
    transform: matrix(-1, 0, 0, 1, 0, 0);
  }
  &__main {
    display: flex;
    height: auto;
  }
}
.experience,
.portfolio,
.education {
  &__content {
    margin-top: 54px;
  }
}
.content-block {
  &__title {
    padding-left: 8px;
  }

  &__block {
    padding-top: 42px;
  }
}
.title-article {
  font-weight: 700;
  font-size: 23px;
  line-height: 35px;
  letter-spacing: 0.01em;
  color: #42489e;
  text-transform: uppercase;
}
.block {
  position: relative;
  &__year {
    font-weight: 300;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #999999;
    position: absolute;
    left: 0;
    top: 42px;
    margin: 0 0 0 -94px;
  }

  &__title {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    letter-spacing: 0.03em;

    color: #323232;
    position: relative;
  }
  &__title:before {
    position: absolute;
    content: "";
    left: 0;
    top: 2px;
    width: 20px;
    height: 20px;
    background: 20px/20px url("@img/step.svg");
    margin-left: -40px;
  }

  &__subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    text-align: left;
    letter-spacing: 0.03em;

    color: #9b9b9b;
    padding-top: 16px;
  }

  &__text {
    padding-top: 0.7em;

    font-weight: 700;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 170%;

    letter-spacing: 0.03em;

    .spollers__body > & {
      font-weight: 400;
      text-transform: none;
    }
  }

  &__images {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    margin: 1.5em 0;

    & img {
      width: 70%;
      height: auto;
      cursor: pointer;
    }
  }
}
.title-article {
  position: relative;
}
.title-article img {
  position: absolute;
  left: -48px;
  top: 0;
  width: 35px;
  height: 35px;
}

.column-right {
  width: 30%;
  background: linear-gradient(180deg, #484fa0 0%, #04b2e7 100%);
}
.content-list__item {
  padding-left: 27px;
  position: relative;
  overflow-wrap: anywhere;
}
.content-list__item a:hover {
  text-decoration: underline;
}

//================Портфолио====================================================================================
.portfolio {

  .show {
    opacity: 1;
    transition: opacity 0.5s linear;
  }
  .hide {
    opacity: 0;
    transition: opacity 0.5s linear;
  }
  &__body {
    margin-top: 2em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 7px;
  }

  &__screenshot {
    position: relative;
    padding: 0 0 85% 0;
  }
  &__screenshot img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    object-fit: cover;
    filter: grayscale(0.6);
    transition: all 0.5s linear;

    &:hover {
      filter: none;
      transition: all 0.5s linear;
    }
  }
}
.project__about {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
}

.about-project__title {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;

  color: #277fc3;
}

.about-project__url {
  display: flex;
  gap: 1em;
  margin: 0.7em 0;
  transition: all 0.5s linear;
}

.about-project__link {
  text-align: center;
  padding: 0.5em 1.5em;
  border-radius: 0.5em;
  font-size: 0.8rem;
}

.link-git {
  color: #fff;
  background-color: #9b9b9b;

  &:hover {
    background-color: #42489e;
    transition: all 0.5s linear;
  }
}

.link-demo {
  color: #fff;
  background-color: #8ec6e6;

  &:hover {
    background-color: #42489e;
    transition: all 0.5s linear;
  }
}

.body-portfolio__tags > ul {
  margin-top: 40px;
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  justify-content: center;
}
.body-portfolio__tags ul li {
  white-space: nowrap;
  color: #fff;
  text-align: center;
  padding: 0.8em 1.8em;
  border-radius: 0.5em;
  font-size: 0.9rem;
  transition: all 0.5s linear;
  cursor: pointer;
}
.body-portfolio__tags ul li:hover {
  background-color: #42489e;
  transition: all 0.5s linear;
}
.tag-active {
  background-color: #42489e;
}
.tag-noactive {
  background-color: #8ec6e6;
}
//================Адаптация портфолио====================================================================================
@media (max-width: 992px) {
  .portfolio__screenshot_big {
    grid-column: span 1;
    grid-row: span 1;
  }
}
//================Правая колонка====================================================================================
//================Цитата====================================================================================
.column-right__about {
  margin-top: 30px;

  font-weight: 400;
  font-size: 0.8rem;
  line-height: 170%;
  text-align: left;
  letter-spacing: 0.03em;
  color: #ffffff;
  position: relative;
}
//================Технологии====================================================================================
.skills__title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: calc(35 / 24 * 100%);
  letter-spacing: 0.01em;
  margin: 1.5em 0 0 0;
}
.skills__body {
  margin-top: 30px;
  position: relative;
}
.skills__body::before {
  position: absolute;
  content: "";
  background: #8ec6e6;
  width: 1px;
  height: 100%;
}
.column-right {
  color: #ffffff;
  padding: 0 30px;

  &__skill:not(:last-child) {
    margin-bottom: 1em;
  }

  &__skill {
  }
}

.skill {
  &__title {
    padding-left: 15px;
  }

  &__container {
    margin-top: 5px;
    background: #8ec6e6;
    width: calc(100% - 30px);
    height: 4px;

    position: relative;
    overflow: hidden;
  }
  &__bar {
    //margin-top: 5px;
    background: #d0ebff;
    //width: 10%;
    height: 10px;
    //margin-left: -15px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
  }

  &__bar:after {
    background: #d0ebff;
    background-size: 40px 40px;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
//================Личные качества====================================================================================
.qualities__title {
  margin: 1.5em 0 1em;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: calc(35 / 24 * 100%);
  letter-spacing: 0.01em;
}
.quality:not(:last-child) {
  margin-bottom: 1em;
}

.quality {
  &__title {
    margin-bottom: 10px;
  }

  &__bar {
    display: flex;
  }

  &__item:not(:last-child) {
    padding-right: 12px;
  }

  &__item {
    position: relative;
  }
  &__item::after {
    position: absolute;
    content: "";
    background: rgba(255, 255, 255, 0.5);
    width: 8px;
    height: 8px;
    top: 0;
    left: 0;
  }
  &__item_full::after {
    position: absolute;
    content: "";
    background: #ffffff;
    width: 8px;
    height: 8px;
    top: 0;
    left: 0;
  }
}
//================Ссылки====================================================================================
.personal__title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: calc(35 / 24 * 100%);
  letter-spacing: 0.01em;
  margin: 1.5em 0 0.8em;
}
.personal__list {
  position: relative;

  font-weight: 400;
  font-size: 16px;
  line-height: calc(32 / 16 * 100%);
}

.personal__item {
  padding-left: 27px;
  overflow-wrap: anywhere;
}
.personal__item a:hover {
  text-decoration: underline;
}

//================Адаптация правой колонки====================================================================================

@media (max-width: 992px) {
  .column-right {
    display: flex;
    flex-wrap: wrap;
  }
  .column-right__about {
    flex: 0 1 100%;
  }
  .column-right__skills {
    flex: 0 1 50%;
  }
  .column-right__qualities {
    flex: 0 1 50%;
  }
  .column-right__personal {
    flex: 0 1 50%;
  }
  .column-left,
  .column-right {
    width: 100%;
  }
  .column-right {
    padding-bottom: 30px;
  }
  .wrapper > main {
    flex-wrap: wrap;
  }
}
@media (min-width: 600px) and (max-width: 992px) {
  .qualities__body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-end;
  }
  .quality {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-end;
  }
  .qualities__title {
    text-align: right;
  }

  .quality__bar {
    text-align: right;
    padding-right: 4px;
  }
}
@media (max-width: 600px) {
  .column-right__skills {
    flex: 0 1 100%;
  }
  .column-right__qualities {
    flex: 0 1 100%;
  }
  .column-right__personal {
    flex: 0 1 100%;
  }
}
